.App{
  background-image: url("images/close-up-colors-design-1421253.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;

  flex-direction: column;
  align-items: center;
  padding: 100px;
}

.box{
  width: 30px;
  height:30px;
  border: 1px solid black;
}

.knittingBox{
  margin-top: 50px;
  display: flex;
}
.input {
width: 50px;

  margin: 20px;
}