.App{
  background: linear-gradient(rgba(246, 247, 255, 0.21), rgba(255,255,255,0.3)), url("images/close-up-colors-design-1421253.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
    box-sizing: border-box;

}

.container{
  display: flex;
  font-size: 20px;
  font-family: 'Poiret One', cursive;
  color: rgba(43, 43, 43, 0.85);
  flex-direction: row;
 justify-content: center;
  margin: 10vh;
background: rgba(246, 247, 255, 0.51);
  box-shadow: 6px 6px 5px lightgray;
}

.rows{
    font-size: 15px;
    font-weight: bold;
    display:flex;
    flex-direction: row;

}

.picker{
  margin-left: 60px;
}
.navBox{
  display: flex;
flex-direction: column;
  align-items: center;
  padding: 50px;
}

h1, h2, h3{
  margin: 0 0 15px;
}

.title{
  font-family: 'Srisakdi', cursive;
}
.box{
  width: 20px;
  height:20px;
  border: 1px dotted gray;
}

.knittingBox{
  display: flex;
flex-direction: column-reverse;
    justify-content: center;
}
.counter{
    width: 22px;
    height:20px;
    display: block;
    text-align: center;
}
.columnBox{
    display:flex;
    flex-direction: row-reverse;
    margin-right: 20px;
}
.inputBox{
}

.input {
  font-size: 20px;
background: rgba(255, 238, 245, 0.73);
 width: 40px;
padding: 10px;
  text-align: center;
  margin: 20px;
}

.button{
  font-size: 20px;
  background: rgba(255, 238, 245, 0.73);
  min-width: 50px;
  padding: 10px;
  text-align: center;
  margin: 20px;
}

.multiply{
  font-weight: bolder;
}